In [1]:
import datetime

x = datetime.datetime.now()
print(x)

2019-07-28 14:00:16.343891

In [2]:
import datetime

x = datetime.datetime.now()

print(x.year)
print(x.strftime("%A"))

2019
Sunday

In [4]:
import datetime

x = datetime.datetime(1998, 4, 3)
print(x)
print(x.year)
print(x.strftime("%A"))

2019-07-27 00:00:00
2019
Saturday

In [5]:
import datetime

x = datetime.datetime(2018, 6, 1)
print(x.strftime("%a"))
print(x.strftime("%A"))
print(x.strftime("%w"))
print(x.strftime("%b"))
print(x.strftime("%B"))

Fri
Friday
5
Jun
June

In [ ]:
# %a	Weekday, short version	Wed	
# %A	Weekday, full version	Wednesday	
# %w	Weekday as a number 0-6, 0 is Sunday	3	
# %d	Day of month 01-31	31	
# %b	Month name, short version	Dec	
# %B	Month name, full version	December	
# %m	Month as a number 01-12	12	
# %y	Year, short version, without century	18	
# %Y	Year, full version	2018	
# %H	Hour 00-23	17	
# %I	Hour 00-12	05	
# %p	AM/PM	PM	
# %M	Minute 00-59	41	
# %S	Second 00-59	08	
# %f	Microsecond 000000-999999	548513	
# %z	UTC offset	+0100	
# %Z	Timezone	CST	
# %j	Day number of year 001-366	365	
# %U	Week number of year, Sunday as the first day of week, 00-53	52	
# %W	Week number of year, Monday as the first day of week, 00-53	52	
# %c	Local version of date and time	Mon Dec 31 17:41:00 2018	#
# %x	Local version of date	12/31/18	
# %X	Local version of time	17:41:00	
# %%	A % character	%

In [7]:
from datetime import timedelta

In [ ]:
d = timedelta()

In [ ]:
(d.days, d.seconds, d.microseconds)

In [ ]:
datetime.datetime.now() + timedelta()

In [9]:
#Addition Operation
datetime.datetime.now() + timedelta(days=1)

datetime.datetime(2019, 7, 29, 14, 7, 26, 307435)

In [11]:
datetime.datetime.now() + timedelta(hours=6)

datetime.datetime(2019, 7, 28, 20, 8, 12, 310602)

In [14]:
datetime.datetime.now() + timedelta(hours=6)

datetime.datetime(2019, 7, 28, 20, 14, 28, 778936)

In [15]:
year = timedelta(days=365)

In [16]:
year

datetime.timedelta(days=365)

In [17]:
year.total_seconds()

31536000.0

In [18]:
#Difference Operation
datetime.datetime.now() - timedelta(days=5)

datetime.datetime(2019, 7, 23, 14, 17, 29, 272147)

In [23]:
#Multiplication Operation
dt = datetime.datetime.now() + timedelta(days=1)*3
dt

datetime.datetime(2019, 7, 31, 14, 20, 0, 234261)

In [24]:
#str function
str(dt)

'2019-07-31 14:20:00.234261'

In [25]:
repr(dt)

'datetime.datetime(2019, 7, 31, 14, 20, 0, 234261)'

In [27]:
from datetime import date

In [28]:
today = date.today()
today

datetime.date(2019, 7, 28)

In [29]:
my_birthday = date(today.year, 6, 24)
if my_birthday < today:
    my_birthday = my_birthday.replace(year=today.year + 1)

my_birthday

datetime.date(2020, 6, 24)

In [ ]:
my_birthday = datetime.date(1988, 1, 10)
time_to_birthday = today - my_birthday
time_to_birthday.days

In [32]:
d = date.fromordinal(5000) # 730920th day after 1. 1. 0001
d

datetime.date(14, 9, 9)

In [33]:
d = datetime.date(2019, 7, 28)

In [34]:
t = d.timetuple()

In [35]:
t

time.struct_time(tm_year=2019, tm_mon=7, tm_mday=28, tm_hour=0, tm_min=0, tm_sec=0, tm_wday=6, tm_yday=209, tm_isdst=-1)

In [36]:
for i in t:     
    print(i)

2019
7
28
0
0
0
6
209
-1

In [37]:
ic = d.isocalendar()

In [38]:
ic

(2019, 30, 7)

In [39]:
for i in ic:     
    print(i)

2019
30
7

In [40]:
d = datetime.datetime.now()
d.isoformat()

'2019-07-28T14:28:27.962844'

In [41]:
d.strftime("%d/%m/%y")

'28/07/19'

In [ ]:
d.strftime("%A %d. %B %Y")

In [ ]:
'The {1} is {0:%d}, the {2} is {0:%B}.'.format(d, "day", "month")